- if @product_images.size > 0
  #picturesModal.modal.fade[tabindex="-1" role="dialog"]

  .modal-dialog--zoom.modal-dialog.mw-100.vh-100.mt-0.mb-0[role="document"]

  .modal-content.h-100

  .modal-body.h-100

  button.close.position-absolute.mr-3[type="button" data-dismiss="modal" aria-label="Close"]
    span[aria-hidden="true"]
      = icon(name: 'close',
      -                        classes: 'd-block d-lg-none',
      -                        width: 16,
      -                        height: 16)
      = icon(name: 'close',
      -                        classes: 'd-none d-lg-block',
      -                        width: 30,
      -                        height: 30)
  .d-flex.justify-content-center.align-items-center.product-details-images.h-100
    - if @product_images.size > 1
      .h-100.d-none.d-sm-block.product-details-thumbnails
        = render 'spree/shared/carousel/thumbnails',
        -                             images: @product_images,
        -                             group_id: 'main-product-modal-carousel',
        -                             id: 'productModalThumbnailsCarousel',
        -                             trigger_id: 'productCarousel',
        -                             per_page: 4
  .product-details-single
    = render 'spree/shared/carousel/single',
    -                           images: @product_images,
    -                           group_id: 'main-product-modal-carousel',
    -                           id: 'productModalCarousel',
    -                           trigger_id: 'productCarousel',
    -                           zoomed: true
