script
  |  var SPREE_LOCALE = '<ruby code="= I18n.locale"></ruby>' var SPREE_CURRENCY = '<ruby code="= current_currency"></ruby>' var SPREE_DEFAULT_CURRENCY = '<ruby code="= current_store.default_currency"></ruby>' var SPREE_DEFAULT_LOCALE = '<ruby code="= current_store.default_locale"></ruby>' 
